{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% for task in tasks_list %}
        <li>{{ tasks.name }}</li>
        {% empty %}
        <p>You have no tasks</p>
        {% endfor %}
        <table>
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for project in list_projects %}
                <tr>
                    <td> {{ project.name }} </td>
                    <td> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</main>
{% endblock content %}