{% extends 'base.html' %}
{% load markdownify %}
{{ project.description|markdownify }}


{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% for project in projects_list %}
        <li>{{ projects.name }}</li>
        {% empty %}
        <p>You are not assigned to any projects</p>
        {% endfor %}

        <table>
            <thead>
                <tr>
                    <th colspan="2">Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in list_projects %}
                <tr>
                    <td> {{ project.name }} </td>
                    <td> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</main>
{% endblock content %}